# Python ignore
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook / Colab specific
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
*.csv
*.zip
*.tar.gz
/data/